<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons start>
      <button ion-button small (click)="goRoomList()">
        <ion-icon name="arrow-back"></ion-icon>
        Back to list
      </button>
    </ion-buttons>
    <ion-title>Messages</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item class="one-message-box" [class.received]="m.sender.indexOf(email) < 0" [class.sent]="m.sender.indexOf(email) > -1" *ngFor="let m of messages">
      <div class="message-content">
        <p class="message-sender" *ngIf="m.sender.indexOf(email) < 0">{{m.sender}}</p>
        <p class="message-text">{{m.message}}</p>
        <p class="message-time">{{m.creation_date}}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input item-start [(ngModel)]="message"  placeholder="Enter your message" type="text" value=""></ion-input>
    <button item-end ion-button color="primary" small (click)="send()">Send</button>
  </ion-item>
</ion-footer>